.hero {
    background-image: url(https://images.unsplash.com/photo-1475257026007-0753d5429e10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80) !important;
    background-size: cover;
}

.button {
    background-color: #FF5722 !important;
    color: white !important;
}

.primarycol {
    color: #FF5722
}